<h1 class="mb-1 restaurant-show-title">{{restaurant_data.name}}</h1>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">
            <form action="/restaurant/create" method="post">
                {{!-- 0.userId-隱藏-自動填入 --}}
                <input type="hidden" class="form-control" name="userId" value="{{user._id}}">
                {{!-- 1.店名 --}}
                <div class="form-group">
                    <label for="InputName">店名</label>
                    <input type="text" class="form-control" name="name" id="InputName">
                </div>
                {{!-- 2.英文店名 --}}
                <div class="form-group">
                    <label for="InputName_en">英文店名</label>
                    <input type="text" class="form-control" name="name_en" id="InputName_en">
                </div>
                {{!-- 3.分類 --}}
                <div class="form-group">
                    <label for="InputCategory">分類</label>
                    <input type="text" class="form-control" name="category" id="InputCategory">
                </div>
                {{!-- 4.圖片網址 --}}
                <div class="form-group">
                    <label for="InputImage">圖片網址</label>
                    <input type="text" class="form-control" name="image" id="InputImage">
                </div>
                {{!-- 5.地址 --}}
                <div class="form-group">
                    <label for="InputLocation">地址</label>
                    <input type="text" class="form-control" name="location" id="InputLocation">
                </div>
                {{!-- 6.電話 --}}
                <div class="form-group">
                    <label for="InputPhone">電話</label>
                    <input type="text" class="form-control" name="phone" id="InputPhone">
                </div>
                {{!-- 7.googleMap --}}
                <div class="form-group">
                    <label for="InputGoogle_map">GoogleMap導航</label>
                    <input type="text" class="form-control" name="google_map" id="InputGoogle_map">
                </div>
                {{!-- 8.評分 --}}
                <div class="form-group">
                    <label for="InputRating">評分</label>
                    <input type="text" class="form-control" name="rating" id="InputRating">
                </div>
                {{!-- 9.描述 --}}
                <div class="form-group">
                    <label for="InputDescription">描述</label>
                    <input type="text" class="form-control" name="description" id="InputDescription">
                </div>

                <button type="submit" class="btn btn-secondary">新增餐廳</button>

            </form>

        </div>
    </div>
</div>